
/*
-------------------
Sette section concerne la page du formulaire de 1246-2747
-------------------
*/
sub, sup {
  /* Specified in % so that the sup/sup is the right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule */
  vertical-align: baseline;
}

sup {
  /* Move the superscripted text up */
  top: -0.5em;
  width:100px;
}

.circle{
  height: 2px;
  width: 20px;
  padding-left:5px;
  padding-right:5px;
  background-color: royalblue;
  border-radius: 50%;
  margin:10px;
}

sub {
  /* Move the subscripted text down, but only half as far down as the superscript moved up */
  bottom: -0.25em;
}



.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 1.5rem;
    word-wrap: break-word;
    opacity: 0;
  }

  .tooltip.show {
    opacity: 0.9;
  }

  .tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
  }

  .tooltip .arrow::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
  }

  .bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
    padding: 0.4rem 0;
  }

  .bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
    bottom: 0;
  }

  .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: #000;
  }

  .bs-tooltip-right, .bs-tooltip-auto[x-placement^="right"] {
    padding: 0 0.4rem;
  }

  .bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^="right"] .arrow {
    left: 0;
    width: 0.4rem;
    height: 0.8rem;
  }

  .bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    right: 0;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: #000;
  }

  .bs-tooltip-bottom, .bs-tooltip-auto[x-placement^="bottom"] {
    padding: 0.4rem 0;
  }

  .bs-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^="bottom"] .arrow {
    top: 0;
  }

  .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    bottom: 0;
    border-width: 0 0.4rem 0.4rem;
    border-bottom-color: #000;
  }

  .bs-tooltip-left, .bs-tooltip-auto[x-placement^="left"] {
    padding: 0 0.4rem;
  }

  .bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^="left"] .arrow {
    right: 0;
    width: 0.4rem;
    height: 0.8rem;
  }

  .bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
    left: 0;
    border-width: 0.4rem 0 0.4rem 0.4rem;
    border-left-color: #000;
  }

  .tooltip-inner {
    max-width: 350px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 0.25rem;
  }

  .valid-tooltip {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: .1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(40, 167, 69, 0.9);
    border-radius: 0.25rem;
  }

  .was-validated :valid ~ .valid-feedback,
  .was-validated :valid ~ .valid-tooltip,
  .is-valid ~ .valid-feedback,
  .is-valid ~ .valid-tooltip {
    display: block;
  }

  .was-validated .form-check-input:valid ~ .valid-feedback,
.was-validated .form-check-input:valid ~ .valid-tooltip, .form-check-input.is-valid ~ .valid-feedback,
.form-check-input.is-valid ~ .valid-tooltip {
  display: block;
}

.invalid-tooltip {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: .1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(220, 53, 69, 0.9);
    border-radius: 0.25rem;
  }

  .was-validated :invalid ~ .invalid-feedback,
  .was-validated :invalid ~ .invalid-tooltip,
  .is-invalid ~ .invalid-feedback,
  .is-invalid ~ .invalid-tooltip {
    display: block;
  }

.container-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-top:2.5rem;
}

.multiselect {
    width: 100%;
    .dropdown input {
        margin-right: 5px;
    }

    .dropdown label {
        color: #000;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
}

.dropdown {
    display: none;
    position: absolute;
    left: 0;
    background: white;
    /* border-radius: 10px;*/
    /* padding: 10px 10px 0 10px;*/
    z-index: 999;
    width:100%;
}

body.them-colnum form .dropdown label {
    color:black;
}

.dropdown label{
    color:black;
}


.dropdown.expanded, .expanded .dropdown {
    display: block;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dropdown label:hover {
    background-color: #1e90ff;
}


.button-delete{
    background:white;
}


.spaceForm{
    padding-top:1rem ;
    padding-bottom:1rem ;
}

.row-without-margin{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.margintoprem{
    margin-top:1rem;
}

.paddingtoprem{
    padding-top:1rem;
}

.marginbottomrem{
    margin-bottom:1rem;
}

.marginbottomrem2{
  margin-bottom:2rem;
}

.marginbottomrem3{
    margin-bottom:3rem;
}

.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
 }


.margintoprem2{
    margin-top:2rem;
}

.margintoprem3{
    margin-top:3rem;
}

.centcinquante{
    width:150px;
}


.marginbottomrem2{
    margin-bottom:2rem;
}

.separateur{
    border-bottom: 3px solid white;
}

.buttonFormAdd label{
    font-size:1.5rem;
}

.atitle{
    font-size:2.5rem;
    font-weight:600;
    margin-bottom:1.5rem;
    text-decoration: none;
}

a .atitle{
  font-size:2.5rem;
  font-weight:600;
  margin-bottom:1.5rem;
  text-decoration: none;
}

a.atitle{
  font-size:2.5rem;
  font-weight:600;
  margin-bottom:1.5rem;
  text-decoration: none;
}

.btitle{
    font-size:1.5rem;
    font-weight:400;
    margin-bottom:1rem;
    text-decoration: none;
}

.red{
    color:red;
}


.buttonFormAdd label:hover{
    text-decoration: underline;
}

.dropdownMarge{
    padding:10px;
}

.etape{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.flexstart{
  display: flex;
  justify-content: start;
}

.soustitre{
    font-size:2.5rem;  /*Champ sous-titre */
}

form input[type=file]{
    font-size: 18px;
    color: white;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

.margintopmed{
    margin-top:2rem;
}

.subsection{
    padding-top:1.5rem;
    padding-bottom:1.5rem;
}

.marginbot{
    margin-bottom:16px;
}

.mt- {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.accordion {
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    font-size: 24px;
    transition: 0.4s;
    margin-bottom: 15px;
}

.accordion0 {
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    font-size: 24px;
    transition: 0.4s;
    margin-bottom: 15px;
}



.accordion2 {
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    margin-bottom: 15px;
}

.accordion {
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    margin-bottom: 15px;
}

.medium{
    font-size:2.2rem;
}

.bold{
    font-weight: 600;
}

.accordion:after {
    content: '\25C1';
    font-size: 24px;
    float:right;
}

.accordion2:after {
    content: '\25BD';
    font-size: 24px;
    float:right;
}

.accordion2.collapsed:after{
    content: "\25C1";
}

.accordion2 .active:after {
    content: "\25C1";
}


.active:after {
    content: "\25BD";
}

.collapse:not(.show) {
    display: none;
}

.center{
    text-align:center;
}

.margintb2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.margintb3{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.accordion {
  .card:not(:first-of-type):not(:last-of-type) {
    border-bottom: 0;
    border-radius: 0;
  }

  .card:not(:first-of-type) {
    .card-header:first-child {
      border-radius: 0;
    }
  }

  .card:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .card:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}


.col-xl-1 .MTBcenter{
    margin-top:4rem;
    margin-bottom:4rem;
    text-align:center;
}

.col-lg-1 .MTBcenter{
    margin-top:4rem;
    margin-bottom:4rem;
    text-align:center;
}

.col-md-1 .MTBcenter{
    margin-top:4rem;
    margin-bottom:4rem;
    text-align:center;
}

@media (max-width: 576px) {
    .col-xl-1 .MTBcenter{
        margin-top:0rem;
        margin-bottom:0rem;
        text-align:center;
    }

    .col-lg-1 .MTBcenter{
        margin-top:0rem;
        margin-bottom:0rem;
        text-align:center;
    }

    .col-md-1 .MTBcenter{
        margin-top:0rem;
        margin-bottom:0rem;
        text-align:center;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .fade {
      transition: none;
    }
  }

  .fade:not(.show) {
    opacity: 0;
  }

  .collapse:not(.show) {
    display: none;
  }

  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
  }

  @media (prefers-reduced-motion: reduce) {
    .collapsing {
      transition: none;
    }
  }

  .dropup,
  .dropright,
  .dropdown,
  .dropleft {
    position: relative;
  }

  .dropdown-toggle {
    white-space: nowrap;
  }

  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }

  .dropdown-toggle:empty::after {
    margin-left: 0;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }

  .dropdown-menu-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-right {
    right: 0;
    left: auto;
  }



  //accordio

